DATABASE_URL="postgresql://postgres:password@db.project.supabase.co:5432/postgres?sslmode=require"
DIRECT_URL="postgresql://postgres:password@db.project.supabase.co:5432/postgres?sslmode=require"
PUB_SI_URL="http://localhost:3000"
